/*--- default.css ---*/

* {
	padding:0;
	margin:0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:0 0 1em 0; }
li, dd { margin-left:5%; }
dd { 
	display:block; 
	margin-bottom: 1em; 
}
fieldset { padding: .5em; }

blockquote {
	padding:1ex;
	background:#eeeeee;
}

body {
	background:#a8a8a8 url('/images/bg.png') fixed no-repeat left 50px bottom 50px;
	font-family:"Arial", Arial,sans-serif;
	font-size:14px;
	line-height:1.6em;
}
#template {
	width:100%;
	height:50px;
	color:#000;
	background:#fff;
	border:solid #acacac;
}
#template a {
	color:#FF0000;
}
#template h2 {
	padding:10px 0 0 10px;
}
#logo_area {
	color:#fff;
	height:100px;
	width:900px;
	margin:auto;
	text-align:right;
}
#logo {
	float:left;
	margin-top:35px;
	margin-left:20px;
}
#logo_area ul {
	list-style-type:none;
	padding-top:45px;
	margin-right:20px;
	letter-spacing:.05em;
}
#logo_area ul li {
	display:inline;
	margin:0;
	padding:0;
}
#logo_area ul li a {
	color:#fff;
	font-size:18px;
	padding:2px 10px;
	margin-left:6px;
	text-decoration:none;
}
#logo_area ul li a:hover {
	border-bottom:3px solid #666;
}
#nav li {
	border-left:1px solid #666;
}
#nav li:first-child {
	border-left:none;
}
#header {
	background:url('/images/header.jpg') repeat-y 20px 20px;
	color:white;
	text-align:center;
	margin: 30px 0 0 0;
	padding:10px;
	font-size:25px;
}
#header .meta {
	padding-top: 5px;
	font-size: .6em;
}
#header a {
	color: inherit;
}
#wrapper {
	background:#fff;
	border-top:5px solid #a8a8a8;
	width:900px;
	margin:auto;
}
#content {
	float:left;
	display:inline;
	width:510px;
	padding-top:20px;
	margin-left:20px;
}
#sidebar {
	float:right;
	padding-top:20px;
	display:inline;
	width:310px;
	margin-right:20px;
}

#sidebar a.more {
	display:block;
	margin:1em 0;
}

#footer {
	clear:both;
	background:#a8a8a8;
	color:#fff;
	line-height:3em;
	text-align:center;
}
#footer a {
	color:#fff;
}
#footer a:hover {
	color:#000;
}

h1,h2,h3,h4,h5,h6 {
	font-family:Georgia, serif;
	font-weight:100;
}
h3 {
	background:url('/images/h3_bg.jpg') no-repeat 0 0;
	color:#fff;
	font-size:24px;
	padding:10px;
}
.warning {
	font-style: italic;
	text-align: center;
}
dt {
	font-weight: bold;
	color: #444;
}
li time:after {
	content: ' —';
}


/*--- videos ---*/

article.video {
  margin-bottom: 3em;
  padding-bottom: 1em;
  border-bottom: 1px dashed grey;
}

article.video video {
  width: 100%;
}
