img {
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}
a img{
  border-color: #0000FF;
}
img.selected {
	border-style: double;
	border-width: 5px;
	border-color: #000000;
}
