<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="css/default.css" type="text/css" media="screen" title="default" charset="utf-8" >
	<title>{{site.title}} - {{ page.title }}</title>

</head>

<body>
	<div id="logo_area">
		<a href="/" id="logo"><img src="images/logo.png" alt="AuckLUG - Auckland Linux Users Group"></a>
		{% include navigation.html %}
	</div>

	<div id="wrapper">

		<div id="header">
			{{site.title}} - {{ page.title }}
		</div>

		{{ content }}

		<div id="footer">
			{% include footer.html %}
		</div>

	</div>

</body>
</html>
