<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/css/default.css" type="text/css" />
	<title>{{ site.title }} - {{ page.title }}</title>
    <link href="/feed/global.xml" rel="alternate" type="application/rss+xml" title="News, events, and videos from the Auckland Linux Users Group" />
    <link href="/feed/news.xml" rel="alternate" type="application/rss+xml" title="News and blog posts by members of the Auckland Linux Users Group" />
    <link href="/feed/events.xml" rel="alternate" type="application/rss+xml" title="Events held by the Auckland Linux Users Group" />
    <link href="/feed/videos.xml" rel="alternate" type="application/rss+xml" title="Videos of Auckland Linux Users Group meetings" />
    <script type="text/javascript" src="/script/common.js"></script>
</head>

<body>
	<div id="logo_area">
		<a href="/" id="logo"><img src="/images/logo.png" alt="AuckLUG - Auckland Linux Users Group"></a>
		{% include navigation.html %}
	</div>

	<div id="wrapper">

		{{ content }}

	</div>

</body>
</html>
